name: keluaran_app
description: Aplikasi keluaran dan analitik frekuensi digit
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^1.2.0
  html: ^0.15.4
  sqflite: ^2.3.0
  path: ^1.9.0
  charts_flutter: ^0.12.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
